
src/donet-gitlab-changelog-gen/bin/Debug/netcoreapp2\.1/

src/dotnet-gitlab-changelog-gen/bin/Debug/netcoreapp2\.1/

src/dotnet-gitlab-changelog-gen/obj/Debug/netcoreapp2\.1/

src/dotnet-gitlab-changelog-gen/obj/
